.index{
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);

}
.login {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 50%, rgba(252,70,107,1) 77%, rgba(252,70,107,1) 87%);
}
.signup {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(212,24,24,1) 50%, rgba(252,176,69,1) 100%);
}